<footer class="footer">
  <div class="footer__logo">
    <img class="footer__img" src="/ageofempires-logo.webp" alt="logo age of empires"/>
  </div>
  <div class="footer__menu">
    <p class="footer__p">© 2026 Microsoft. All rights reserved.</p>
    <nav class="footer__nav">
      <a class="footer__a" href="#">Manage Cookies</a>
      <a class="footer__a" href="#">Terms of Use</a>
      <a class="footer__a" href="#">Trademarks</a>
      <a class="footer__a" href="#">Privacy and Cookies</a>
      <a class="footer__a" href="#">Consumer Health Privacy</a>
      <a class="footer__a" href="#">Code of Conduct</a>
      <a class="footer__a" href="#">World’s Edge Careers</a>
    </nav>
  </div>
</footer>

<style>

.footer{
    background-image: url(/img/swoosh.webp);
    background-color: var(--color-dark);
    color: var(color-dark);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    min-height: 452px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-top: 4px solid;
    border-image: linear-gradient( to right, transparent,  rgba(184, 134, 45, 1),transparent) 1; 
 
}

.footer__logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
padding: 15px;
}

.footer__img{
height: 86px;

}

.footer__menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;

}

.footer__nav{
    display: flex;
    justify-content: center;
gap: 2rem;
padding-bottom: 1rem;
}

.footer__a{
    font-size: 1rem;
    font-family: var(--font-secundary);
    font-weight: 400;
    color: var(--color-links);
}

.footer__p{
    text-align: center;
}


</style>